.conteiner{
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 2px solid red;
    background-image: url(../34053e57f04571b79d11e1f25392bce1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.first{
    width: 45%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto auto auto;
    background-color: rgb(0, 100, 0, .5);
    /* margin: 0 auto;
    margin-top: 130px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: rgb(39, 237, 121);
    background-color: rgb(20, 55, 20, .5); */
   
}
h1{
    font-size: 30px;
    width: 310px;
    height: 50px;
    color: white;
   margin-left: 50px;
   /* text-align: center; */
   margin-top: 40px;
   /* border: 2px solid red; */
}
.name{
    width: 200px;
    height: 40px;
    /* border: 2px solid red; */
    font-size: 15px;
    gap: 10px;
    margin: 0 60px auto auto;
  align-items: center;
  color: white; 
}
.mail{
    width: 200px;
    font-size: 15px;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    color: white; 
   
}

.date{
    width: 180px;
   font-size: 15px;
    gap: 20px;
    align-items: center; 
    margin-top: 15px;
    color: white; 
}
.country{
    width: 200px;
    font-size: 15px;
    gap: 20px;
    align-items: center;
    margin-top: 15px; 
    color: white; 
}

.two{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
}
input[type=reset]{
    border: none;
    background-color: red;
    border-radius: 5px;
}
input[type=submit]{
    border: none;
    background-color: greenyellow;
    border-radius: 5px;
}
input[type=text]{
    border: none;
    background-color:  rgb(0, 100, 0, .2);
    border-bottom: 4px solid green;
}
input[type=mail]{
    border: none;
    background-color:  rgb(0, 100, 0, .2);
   border-bottom: 4px solid green;
}
input[type=date]{
    border: none;
    background-color:  rgb(0, 100, 0, .2);
    border-bottom: 4px solid green;
}
select{
   border-bottom: 4px solid green;
   background-color:  rgb(0, 100, 0, .2);
}