.conteiner{
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 2px solid red;
    background-image: url(../34053e57f04571b79d11e1f25392bce1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.first{
    width: 40%;
    height: 500px;
    border: 3px solid red;
    margin: 0 auto;
    margin-top: 130px;
    font-size: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    columns: auto;
    justify-content: space-between;
    justify-content: center;
    color: rgb(39, 237, 121);
    /* padding: 200px 400px auto 100px; */
   
}

.name{
    width: 200px;
    /* border: 2px solid red; */
    font-size: 15px;
    gap: 10px;
   margin-top: 100px;
  align-items: center;
}
.mail{
    width: 200px;
    /* border: 2px solid red; */
    font-size: 15px;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
   
}
.chekbox{
    width: 200px;
    /* border: 2px solid red; */
    font-size: 15px;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.date{
    width: 180px;
    /* border: 2px solid red; */
   font-size: 15px;
    gap: 20px;
    align-items: center; 
    margin-top: 15px;
}
.country{
    width: 200px;
    /* border: 2px solid red; */
    font-size: 15px;
    gap: 20px;
    align-items: center;
    margin-top: 15px;  
}
.three{
    width: 200px;
    /* border: 2px solid red; */
    font-size: 10px;
    gap: 20px;
    align-items: center; 
    margin-top: 15px;
}
.two{
    display: flex;
    gap: 10px;
    
}
input[type=reset]{
    border: none;
    background-color: red;
    border-radius: 5px;
}
input[type=submit]{
    border: none;
    background-color: greenyellow;
    border-radius: 5px;
}
input[type=text]{
    border: none;
    border-bottom: 4px solid green;
}
input[type=mail]{
    border: none;
   border-bottom: 4px solid green;
}
input[type=date]{
    border: none;
    border-bottom: 4px solid green;
}
select{
   
    border-bottom: 4px solid green;
}